/.idea/
/slogs/
/reprex/SampleSplits/
/results/
/dcan/runs/
/dcan/.ipynb_checkpoints/
/reprex/SampleSplits_MMSE/
/reprex/alex_net-*.err
/reprex/alex_net-*.out
/data/ABCD/
/dcan/data-unversioned/cache/
/inspection/
/SampleSplits_MMSE/
/data-unversioned/
/runs/p2ch11/
/runs/p2ch11/2022-04-25_13.55.13-trn_cls-dwlpt/
/src/dcan/alex-net-training-12456699.err
/src/dcan/alex-net-training-12456699.out
/runs/
/src/dcan/torch-env/
/doc/loes_scoring/ALCA.PNG
/doc/loes_scoring/IGBU.PNG
/doc/loes_scoring/LAVA.PNG
/doc/loes_scoring/WYTH.PNG
/doc/loes_scoring/ZAMC.PNG
/src/dcan/loes_scoring/data-unversioned/cache/dcan_loes_score/
/test/data-unversioned/cache/dcan_loes_score/
/test/data-unversioned/cache/dcan_loes_score/
/src/dcan/loes_scoring/data-unversioned/cache/dcan_raw/
/src/dcan/loes_scoring/data-unversioned/cache/dcan_raw/
/model-2022-07-22_12.51.37.pt
/model-2022-07-22_12.51.37.pt
/src/dcan/loes_scoring/runs/loes_scoring/
/data/loes_scoring/ALD-google_sheet-Jul272022-Loes_scores-Igor.csv
/data/loes_scoring/augmented_files.csv
/src/dcan/loes_scoring/data_sets/data-unversioned/
